* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111;
  color: #f5f3ed;
  font-family: Arial, Helvetica, sans-serif;
}

/* image overlay */

.overlay {
  position: absolute;

  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.78) 0%,
    rgba(0, 0, 0, 0.5) 45%,
    rgba(0, 0, 0, 0.55) 100%
  );

  z-index: 1;
}

/* NAVBAR */

nav {
  position: relative;

  width: 100%;
  height: 100px;
  padding: 0 3.5vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 5;
}

.logo {
  font-size: 25;
  font-weight: 800;
  letter-spacing: -2px;
}

.logo span {
  color: #ff4938;
}

/* NAV LINK */
.naiv {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 55px;
}

.naiv li {
  list-style: none;
}

.naiv a {
  color: white;
  text-decoration: none;
  font-size: 6px;
  font-weight: 600;
  transition: 0.3s ease;
}

.naiv a:hover {
  color: #ff4938;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url(d1f12b59-7e9b-4309-85a2-d870e808cfce.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*NAME HERO*/
.hero h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(90px, 12w, 190px);
  line-height: 0.8;
  letter-spacing: -4px;
  font-weight: 900;
  color: #f5f3ed;
}

.hero span {
  color: #ff4938;
}

.hero h2 {
  letter-spacing: 9px;
  margin-top: 55px;

  font-size: 18px;

  letter-spacing: 9px;

  font-weight: 500;
}

/*HERO CONTENT*/

.showreel {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 7px;
}

.showreel span {
  width: 50px;
  height: 1px;
  background: #ff4938;
}
/* BTNS*/

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 0 35px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;

  letter-spacing: 1px;
  transition: 0.3s ease;
}

/* RED BUTTON*/
.primary {
  background: #ff4938;
  color: white;
}

.primary span {
  font-size: 25px;
  margin-left: 25px;
}

.primary:hover {
  background: white;
  color: #111;
}

/*OUTLINE */
.secondary {
  border: 1px solid rgba(225, 225, 225, 0.45);
  color: white;
  background: rgba(0, 0, 0, 0.15);
}

.secondary:hover {
  background: white;
  color: #111;
}
